<?xml version="1.0" encoding="UTF-8"?>
<svg width="167px" height="199px" viewBox="0 0 167 199" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <title>Group Copy 6</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="PDP-(Desktop)" transform="translate(-1019.000000, -3024.000000)">
            <g id="Group-Copy-6" transform="translate(1019.000000, 3024.000000)">
                <path d="M147.204757,9.33710743 C113.103337,-11.5561603 90.440146,8.06663459 83.4994845,15.6446869 C76.558823,8.06663459 53.8980017,-11.5561603 19.7965818,9.33710743 C-4.12014616,23.9887943 -7.05375452,64.127722 14.7634766,89.3344689 C34.0523071,111.620778 83.1416696,137.117448 83.4994845,136.999593 C83.859669,137.117448 132.949032,111.620778 152.235492,89.3344689 C174.052724,64.127722 171.121485,23.9887943 147.204757,9.33710743" id="Fill-16" fill="#FFFFFF"></path>
                <path d="M26,66.3860389 C26,66.3860389 50.5719937,40 84.0490506,40 C117.528481,40 137,68.3130429 137,68.3130429 C137,68.3130429 124.606013,92.706036 80.9113924,91.984294 C49.2025316,91.4606772 26,66.3860389 26,66.3860389" id="Fill-18" fill="#FFFFFF"></path>
                <path d="M26,66.3860389 C26,66.3860389 50.5719937,40 84.0490506,40 C117.528481,40 137,68.3130429 137,68.3130429 C137,68.3130429 124.606013,92.706036 80.9113924,91.984294 C49.2025316,91.4606772 26,66.3860389 26,66.3860389 L26,66.3860389 Z" id="Stroke-20" stroke="#002FF6" stroke-width="3.049"></path>
                <path d="M61.290457,44.0134149 C61.290457,44.0134149 56.7714076,72.0875966 83.3833251,76.5994345 C109.995243,81.1112724 111,46.0197228 111,46.0197228 C111,46.0197228 98.9499879,39 85.8952184,39 C72.8380904,39 61.290457,44.0134149 61.290457,44.0134149" id="Fill-22" fill="#002FF6"></path>
                <path d="M69.1469317,40.7047768 C69.1469317,40.7047768 66.3348346,64 85.3153203,64 C104.298145,64 105,44.2357087 105,44.2357087 C105,44.2357087 95.8618542,40 85.3153203,40 C74.7711259,40 69.1469317,40.7047768 69.1469317,40.7047768" id="Fill-24" fill="#002FF6"></path>
                <path d="M26,66 C26,66 50.5512307,40 84,40" id="Stroke-26" stroke="#002FF6" stroke-width="3.049"></path>
                <path d="M106,45.1697451 C106,49.4942741 102.194989,53 97.5,53 C92.8073908,53 89,49.4942741 89,45.1697451 C89,40.8452161 90.4039754,40 95.0989642,40 C99.793953,40 106,40.8452161 106,45.1697451" id="Fill-28" fill="#FFFFFF"></path>
                <path d="M84,40 C117.508068,40 137,68 137,68" id="Stroke-30" stroke="#002FF6" stroke-width="3.049"></path>
                <path d="M101,175.141732 C101,192.53937 92.4926775,199 81.9988259,199 C71.5049744,199 63,192.53937 63,175.141732 C63,157.744094 81.9988259,136 81.9988259,136 C81.9988259,136 101,157.744094 101,175.141732" id="Fill-32" fill="#FFFFFF"></path>
            </g>
        </g>
    </g>
</svg>
