<?xml version="1.0" encoding="UTF-8"?>
<svg width="165px" height="144px" viewBox="0 0 165 144" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <title>Group 2 Copy 3</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0.216513116 30.8865392 9.59353095 30.8865392 9.59353095 0.191314858 0.216513116 0.191314858 0.216513116 30.8865392"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-HD-Copy-4" transform="translate(-171.000000, -2931.000000)">
            <g id="Group-2-Copy-3" transform="translate(171.000000, 2931.000000)">
                <path d="M164.257516,64.7751484 C164.257516,64.7751484 159.177718,110.487226 136.915996,126.024973 C114.654274,141.562719 93.9368385,137.144127 83.6398573,121.041339 C73.3446152,104.940367 77.3670637,83.2543831 99.6305248,67.7166371 C121.892247,52.178891 164.257516,64.7751484 164.257516,64.7751484" id="Fill-21-Copy" fill="#EA1C24"></path>
                <path d="M90.4311809,117.879385 C90.4311809,117.879385 94.0606016,114.768929 99.6708129,110.359421 C105.28798,105.964449 112.92072,100.323113 120.685628,94.8907159 C128.460971,89.4746704 136.368482,84.2657464 142.406502,80.5266583 C148.453218,76.8002882 152.595662,74.4910651 152.595662,74.4910651 C152.595662,74.4910651 148.96798,77.6069719 143.357769,82.0146627 C137.740601,86.4114524 130.106122,92.0491543 122.341214,97.4797346 C114.564133,102.89578 106.654883,108.10107 100.616862,111.840158 C94.5718856,115.566529 90.4311809,117.879385 90.4311809,117.879385" id="Fill-23-Copy" fill="#FFFFFF"></path>
                <path d="M90.4311809,117.879385 C90.4311809,117.879385 94.0606016,114.768929 99.6708129,110.359421 C105.28798,105.964449 112.92072,100.323113 120.685628,94.8907159 C128.460971,89.4746704 136.368482,84.2657464 142.406502,80.5266583 C148.453218,76.8002882 152.595662,74.4910651 152.595662,74.4910651 C152.595662,74.4910651 148.96798,77.6069719 143.357769,82.0146627 C137.740601,86.4114524 130.106122,92.0491543 122.341214,97.4797346 C114.564133,102.89578 106.654883,108.10107 100.616862,111.840158 C94.5718856,115.566529 90.4311809,117.879385 90.4311809,117.879385 L90.4311809,117.879385 Z" id="Stroke-25-Copy" stroke="#FFFFFF" stroke-width="0.49" stroke-linejoin="round"></path>
                <path d="M80.3395714,3.59534624e-12 C80.3395714,3.59534624e-12 113.990405,29.6946822 114.075619,57.6651687 C114.160833,85.6356552 99.1822992,101.227907 80.6473852,101.28968 C62.1124712,101.349636 47.0400281,85.8573116 46.9548141,57.8886419 C46.8696001,29.9181554 80.3395714,3.59534624e-12 80.3395714,3.59534624e-12" id="Fill-27-Copy" fill="#EA1C24"></path>
                <path d="M82.3431531,94.4564875 C82.3431531,94.4564875 81.6512635,89.5764143 81.0455432,82.2544876 C80.465167,74.9343778 80.0571295,65.1724146 79.9988384,55.4086345 C79.9684257,45.6466712 80.2826906,35.8828911 80.8047758,28.5591476 C81.3420674,21.2354041 81.9984755,16.3516972 81.9984755,16.3516972 C81.9984755,16.3516972 82.6928996,21.2317704 83.2986198,28.5536971 C83.8840649,35.8738069 84.2870336,45.6357701 84.3427903,55.3995502 C84.3706686,65.1615134 84.0488005,74.9271104 83.5317841,82.2490371 C82.9919581,89.5727806 82.3431531,94.4564875 82.3431531,94.4564875" id="Fill-29-Copy" fill="#FFFFFF"></path>
                <path d="M82.3431531,94.4564875 C82.3431531,94.4564875 81.6512635,89.5764143 81.0455432,82.2544876 C80.465167,74.9343778 80.0571295,65.1724146 79.9988384,55.4086345 C79.9684257,45.6466712 80.2826906,35.8828911 80.8047758,28.5591476 C81.3420674,21.2354041 81.9984755,16.3516972 81.9984755,16.3516972 C81.9984755,16.3516972 82.6928996,21.2317704 83.2986198,28.5536971 C83.8840649,35.8738069 84.2870336,45.6357701 84.3427903,55.3995502 C84.3706686,65.1615134 84.0488005,74.9271104 83.5317841,82.2490371 C82.9919581,89.5727806 82.3431531,94.4564875 82.3431531,94.4564875 L82.3431531,94.4564875 Z" id="Stroke-31-Copy" stroke="#FFFFFF" stroke-width="0.49" stroke-linejoin="round"></path>
                <path d="M2.27373675e-13,64.8507144 C2.27373675e-13,64.8507144 5.17370698,110.551891 27.4667321,126.038765 C49.7597573,141.527456 70.4684977,137.063443 80.7306977,120.938853 C90.9946367,104.814262 86.9269726,83.1373625 64.6339475,67.6486715 C42.3409223,52.1599805 2.27373675e-13,64.8507144 2.27373675e-13,64.8507144" id="Fill-33-Copy" fill="#EA1C24"></path>
                <path d="M74.4248619,117.741304 C74.4248619,117.741304 70.2789401,115.437532 64.2252681,111.725697 C58.1802915,107.999326 50.2606069,102.810388 42.473091,97.4125109 C34.6977485,91.9982823 27.0510965,86.378749 21.4252336,81.9946773 C15.806327,77.5978876 12.1734282,74.4910651 12.1734282,74.4910651 C12.1734282,74.4910651 16.31935,76.7912039 22.374761,80.504856 C28.4197377,84.2294093 36.3376832,89.4219816 44.1251991,94.8198585 C51.9005416,100.235904 59.5437154,105.859071 65.1695783,110.241326 C70.788485,114.638116 74.4248619,117.741304 74.4248619,117.741304" id="Fill-35-Copy" fill="#FFFFFF"></path>
                <path d="M74.4248619,117.741304 C74.4248619,117.741304 70.2789401,115.437532 64.2252681,111.725697 C58.1802915,107.999326 50.2606069,102.810388 42.473091,97.4125109 C34.6977485,91.9982823 27.0510965,86.378749 21.4252336,81.9946773 C15.806327,77.5978876 12.1734282,74.4910651 12.1734282,74.4910651 C12.1734282,74.4910651 16.31935,76.7912039 22.374761,80.504856 C28.4197377,84.2294093 36.3376832,89.4219816 44.1251991,94.8198585 C51.9005416,100.235904 59.5437154,105.859071 65.1695783,110.241326 C70.788485,114.638116 74.4248619,117.741304 74.4248619,117.741304 L74.4248619,117.741304 Z" id="Stroke-37-Copy" stroke="#FFFFFF" stroke-width="0.49" stroke-linejoin="round"></path>
                <g id="Group-41-Copy" transform="translate(78.257753, 112.645025)">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-40"></g>
                    <polygon id="Fill-39" fill="#EA1C24" mask="url(#mask-2)" points="9.59353095 30.8761831 0.247816217 30.8870843 0.216513116 0.202215989 9.56222785 0.191314858"></polygon>
                </g>
            </g>
        </g>
    </g>
</svg>
