<nav class="nav">
  <div class="col-12 flex std-max-width mx-auto">
    <div class="col-2 flex justify-center items-center py2">
      {% include 'logo-cloud' %}
    </div>
    <div class="link-list col-8 flex items-center justify-between py2 px3">
      {% for link in linklists.main-menu.links %}
        <a href="{{ link.url }}">
          <h3 class="bebas black">{{ link.title }}</h3>
        </a>
      {% endfor %}
    </div>
    <div class="col-2 flex items-center justify-center py2">
      <div>
        <div class="item-count bebas center">{{cart.item_count}}</div>
        <div class="center">items</div>
      </div>
    </div>
  </div>
</nav>
