<div class="product-butter-module border-top px3">
  <div class="std-max-width mx-auto border-left border-right">
    <div class="mx-auto">
      <h2 class="m0 py4 px2 center spacing-1">Don't Worry, we'll Teach your how to make Herbal Butter</h2>
    </div>
    <div class="mx-auto border-top">
      <div class="content-wrapper clearfix">

        <div class="butter-wrapper col sm-col-12 md-col-6">
          <div class="four-three">
            <div class="content">
              <img class="fit full-width" src="https://media.giphy.com/media/x84Vdy91Q4O88/giphy.gif" />
            </div>
          </div>
        </div>
        <div class="ipad-wrapper sm-col-12 md-col-6 p2 center border-bottom">
          <div class="ipad-butter">
            <img src="{{ 'butter-pad.jpg' | asset_url }}" />
          </div>
          <div>
            <h2 class="mono underline-text mb0">See our iPad friendly</h2>
          </div>
          <div>
            <h2 class="mono underline-text mt2">butter recipe here</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

