<div class='product-butter-module border-top px3'>
  <div class='std-max-width mx-auto border-left border-right'>
    <h2 class='m0 py4 center'>Don't Worry, we'll Teach your how to make Herbal Butter</h2>
  </div>
  <div class='std-max-width mx-auto border-left border-right border-top'>
    <div class='content-wrapper clearfix'>

      <div class='butter-wrapper col col-12 left'>
        <div class='four-three'>
          <div class='content'>
            <img class='fit full-width' src='https://media.giphy.com/media/x84Vdy91Q4O88/giphy.gif' />
          </div>
        </div>
      </div>
      <div class='ipad-wrapper col col-12 left p2 center'>
        <div class='ipad-butter'>
          <img src='{{ 'butter-pad.jpg' | asset_url }}' />
        </div>
        <div>
          <h2 class='mono underline-text mb0'>See our iPad friendly</h2>
        </div>
        <div>
          <h2 class='mono underline-text mt2'>butter recipe here</h2>
        </div>
      </div>
    </div>
  </div>
</div>

