
.border {
  border: solid $border-weight color('blue');
}

.border-left {
  border-left: solid $border-weight color('blue');
}

.border-left-dashed {
  border-left: dashed $border-weight color('blue');
}

.border-top {
  border-top: solid $border-weight color('blue');
}

.border-top-dashed {
  border-top: dashed $border-weight color('blue');
}

.border-right {
  border-right: solid $border-weight color('blue');
}

.border-right-dashed {
  border-right: dashed $border-weight color('blue');
}

.border-bottom {
  border-bottom: solid $border-weight color('blue');
}

.border-bottom-dashed {
  border-bottom: dashed $border-weight color('blue');
}
