$sides: top right left bottom;

.border {
  border: solid $border-weight-mobile color('blue');

  @media #{$medium-up} {
    border: solid $border-weight-desktop color('blue');
  }
}

@each $value in $sides  {
  .border-#{$value} {
    border-#{$value}: solid color('blue');
    border-width: $border-weight-mobile;

    @media #{$medium-up} {
      border-#{$value}: solid color('blue');
      border-width: $border-weight-desktop;
    }
  }

  .border-#{$value}-dashed {
    border-#{$value}: dashed color('blue');
    border-width: $border-weight-mobile;

    @media #{$medium-up} {
      border-width: $border-weight-desktop;
    }
  }
}
