$bebas: 'Bebas Neue', Helvetica Neue, Helvetica, Arial, sans-serif;
$mono: 'GT America Mono', helvetica, sans-serif;

.bebas {
  font-family: $bebas;
}

.mono {
  font-family: $mono;
}

.title {
  font-size: 36px;

  @media #{$medium-up} {
    font-size: 108px;
  }
}

.subtitle {
  font-size: 22px;

  @media #{$medium-up} {
    font-size: 52px;
  }
}

.large {
  font-size: 1.5em;
}

.large-2 {
  font-size: 2em;
}

.link-text {
  font-size: 16px;

  @media #{$medium-up} {
    font-size: 30px;
  }
}

.paragraph {
  font-size: 12px;
  line-height: 30px;

  @media #{$medium-up} {
    font-size: 30px;
    line-height: 56px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bebas;
}

a {
  @extend .red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
