$bebas: 'Bebas Neue', Helvetica Neue, helvetica, sans-serif;
$helvetica: Helvetica Neue, helvetica, sans-serif;
$mono: 'GT America Mono', monospace;

.bebas {
  font-family: $bebas;
}

.helvetica {
  font-family: $helvetica;
}

.mono {
  font-family: $mono;
}

.spacing-1 {
  letter-spacing: 1px;
}

.spacing-2 {
  letter-spacing: 2px;
}

.title {
  font-size: 36px;

  @media #{$medium-up} {
    font-size: 108px;
  }
}

.subtitle {
  font-size: 22px;

  @media #{$medium-up} {
    font-size: 52px;
  }
}

.copy {
  font-size: 16px;
  line-height: 37px;

  @media #{$medium-up} {
    font-size: 20px;
    line-height: 43px;
  }
}

.detail {
  font-size: 18px;

  @media #{$medium-up} {
    font-size: 20px;
  }
}

.label {
  font-size: 14px;
}

.large {
  font-size: 1.5em;
}

.large-2 {
  font-size: 2em;
}

.link-text {
  font-size: 16px;

  @media #{$medium-up} {
    font-size: 30px;
  }
}

.paragraph {
  font-size: 12px;
  line-height: 30px;

  @media #{$medium-up} {
    font-size: 30px;
    line-height: 56px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bebas;
}

a {
  @extend .red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
}
