.bebas {
  font-family: "Bebas Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.mono {
  font-family: 'GT America Mono', helvetica, sans-serif;
}

.title {
  font-size: 36px;

  @media #{$medium-up} {
    font-size: 108px;
  }
}

.subtitle {
  font-size: 22px;

  @media #{$medium-up} {
    font-size: 52px;
  }
}

.large {
  font-size: 1.5em;
}

.large-2 {
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .bebas;
}

a {
  @extend .red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
