.pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.transition {
  transition: $transition;
}

.gradient-blue {
  background: linear-gradient(to bottom, rgba(0,47,246,0) 50%, rgba(0,47,246,.75) 100%);
  height: 100%;
  width: 100%;
}

.std-max-width {
  @media #{$large-up} {
    max-width: #{$max-width}px;
  }
}

.absolute-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.no-scroll {
  overflow: hidden;
}

.height-100 {
  height: 100%;
}

.full-width {
  width: 100%;
}

@for $i from 1 through 12 {
  .lg-faux-col-#{$i} {
    @media #{$large-up} {
      max-width: #{(($max-width/12)*$i)}px;
      width: 100%;
    }
  }
}
