$border-weight-mobile: 4px;
$border-weight-desktop: 8px;

$max-width: 1280;

$sticker-width: 160px;

$nav-desktop-height: 176px;
$nav-mobile-height: 136px;

$transition-duration: 250ms;
$transition-easing: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$transition: $transition-duration $transition-easing;

$button-height-mobile: 65px;
$button-height-desktop: 80px;

$list-padding: 54px;
