<div class="contact">
  <div class="clearfix max-width-4 mx-auto">
    <h1 class="hide">Contact</h1>
    <div class="contact-section col col-12 mt4 clearfix">
      <div class="contact-image col sm-col-12 lg-col-5">
        <img  class="full-width"
              src="{{ section.settings.image_1.src | img_url: '600x' }}" />
      </div>
      <div class="contact-info col sm-col-12 lg-col-7">
        <h2 class="bebas subtitle mt0">I have a problem issue with my order</h2>
        <p class="copy">For assistance with whatever order-related pickle jars you find yourself in.</p>
        <p class="copy"><a href="mailto:nugsofwisdom@bakingsupply.co" target="_blank">nugsofwisdom@bakingsupply.co</a></p>
      </div>
    </div>
    <div class="contact-section col col-12 my4 clearfix">
      <div class="contact-image col sm-col-12 lg-col-5">
        <img  class="full-width"
              src="{{ section.settings.image_2.src | img_url: '600x' }}" />
      </div>
      <div class="contact-info col sm-col-12 lg-col-7">
        <h2 class="bebas subtitle mt0">I just want to be friends</h2>
        <p class="copy">Kneed to knows, positive affirmations, or just to roll with us.</p>
        <p class="copy"><a href="mailto:buddy@bakingsupply.co" target="_blank">buddy@bakingsupply.co</a></p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact Images",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      }
    ],
    "presets": [
      {
        "name": "Contact Images",
        "category": "Global"
      }
    ]
  }
{% endschema %}
