<footer class='border-top py4'>
  <div class="std-max-width mx-auto">
    <div class="clearfix">
      <div class="copyright col col-12 md-col-6 center">
        <span class="bebas large-2">The Baking Supply Co, 2017</span>
      </div>
      <div class="socials col col-12 md-col-6 center">
        <span class="mono large">Instagram | Twitter | Facebook</span>
      </div>
    </div>
  </div>
</footer>
