<div class="hompage-butter-module">

</div>

{% schema %}
  {
    "name": "Homepage Butter Module",
    "settings": [
      {
        "type": "image_picker",
        "id": "icon",
        "label": "Icon"
      },
      {
        "type": "text",
        "id": "link_text_one",
        "label": "Link Text One",
        "placeholder": "Our Butter & Oil Recipes Are Easy"
      },
      {
        "type": "text",
        "id": "link_text_two",
        "label": "Link Text Two",
        "placeholder": "(And is Ipad Compatible)"
      },
      {
        "type": "url",
        "id": "butter_link",
        "label": "Butter Link"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Bg Image"
      }
    ],
    "presets": [
      {
        "name": "Homepage Butter Module",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
