<div class="homepage-hero relative">
  <div class="homepage-hero-background col col-12 absolute" style="background: url('{{- section.settings.image -}}') no-repeat center; background-size: cover;">
    <div class="gradient-blue"></div>
  </div>
  <div class="homepage-hero-info absolute z-relative sm-col-12 md-col-8">
    <span class="subtitle bebas white block mb1 shadow">{{- section.settings.subtitle -}}</span>
    <span class="title bebas white block shadow">{{- section.settings.title -}}</span>
    <span class="sm-hide red video-trigger mono pointer">
      {{- section.settings.link_text -}}
    </span>
  </div>
</div>

{% schema %} 
  {
    "name": "Homepage Hero",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "placeholder": "For Herbal Butters"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "placeholder": "Healthy Baking Kits"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link Text",
        "placeholder": "Watch our short & confusing video"
      },
      {
        "type": "url",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Homepage Hero",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
