<div id='press' class='border-top border-bottom mb1 py2 clearfix'>
  <div class="col-12">
    <div class="std-max-width mx-auto center">
      <h3 class="bebas mt3">{{section.settings.title}}</h3>
      <div class="logo-row col-12 flex justify-between items-center py3">
        {% for block in section.blocks %}
          <a href="{{ block.settings.linkout }}" target="_blank">
            <img class="col-4 md-col-3" src="{{ block.settings.logo }}"/>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Homepage Press",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "placeholder": "Read About Us In Places"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Press Link",
        "settings": [
          {
            "type": "url",
            "id": "logo",
            "label": "Logo image"
          },
          {
            "type": "url",
            "id": "linkout",
            "label": "Press Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Homepage Press",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
