<div class="newsletter border-top">
  <div class="newsletter-inner flex">

    <div class="form-wrapper-parent col col-12 md-col-7 center px4 my4">
      <div class='form-wrapper col col-12 lg-faux-col-7'>
        {% include 'newsletter-form' %}
      </div>
    </div>

    <div class="dripping-eye-wrapper col col-12 md-col-5 center bg-blue py4">
      <div class='lg-faux-col-5'>
        {% include 'dripping-eye' %}
      </div>
    </div>
  </div>
</div>
