<div class="newsletter border-top">
  <div class="clearfix">

    <div class="col col-12 center bg-blue py4 md-hide lg-hide">
      {% include 'dripping-eye' %}
    </div>

    <div class="col col-12 md-col-7 center px4 my4">
      <div class='form-wrapper col col-12 lg-faux-col-7'>
        {% include 'newsletter-form' %}
      </div>
    </div>

    <div class="col col-12 md-col-5 center bg-blue py4 xs-hide sm-hide">
      <div class='lg-faux-col-5'>
        {% include 'dripping-eye' %}
      </div>
    </div>
  </div>
</div>
