{% capture video_modal_contents %}
  <div class="video-modal-inner col-12 md-col-8 mx-auto">
    <div class="sixteen-nine">
      <div class="video-container col-12 content" id="video-player" data-vimeo-url="{{section.settings.vimeo_url}}" data-vimeo-background='true'></div>
    </div>
  </div>
{% endcapture %}
{% include 'modal', contents: video_modal_contents %}

{% schema %}
  {
    "name": "Video Modal",
    "settings": [
      {
        "type": "url",
        "id": "vimeo_url",
        "label": "Vimeo Url"
      }
    ],
    "presets": [
      {
        "name": "Video Modal",
        "category": "Global"
      }
    ]
  }
{% endschema %}
