.line-item {
  min-height: 90px;
  overflow: hidden;

  @media #{$medium-up} {
    min-height: 300px;
  }

  .line-item-image-wrapper {
    overflow: hidden;
  }

  .line-item-info-wrapper {
    padding: .5em;

    @media #{$medium-up} {
      padding: 2em;
    }
  }

  .line-item-ui {
    width: 100%;
    height: 40px;

    .quantity-button {
      background: transparent;
      height: 40px;
      padding: 0;
    }

    .quantity-target {
      margin-top: .25em;
    }

    @media #{$medium-up} {
      height: 80px;

      .quantity-button {
        height: 80px;
      }

      .quantity-target {
        margin-top: 1em;
      }
    }
  }

  .line-item-price-wrapper {
    bottom: .5em;
    right: .5em;

    @media #{$medium-up} {
      bottom: 2em;
      right: 2em;
    }
  }

  .line-item-quantity-wrapper {
    margin-left: -.8em;
    margin-top: .5em;

    @media #{$medium-up} {
      bottom: 1em;
      left: .5em;
      margin-left: 0;
      margin-top: 0;
      position: absolute;
    }
  }
}

.checkout-button {
  margin-top: -$border-weight-mobile;

  @media #{$medium-up} {
    margin-top: -$border-weight-desktop;
  }
}
