footer {
  @media #{$large-up} {
    .copyright { 
      padding: 0;
      text-align: left;
    }
    .socials { 
      padding: 0;
      text-align: right;
    }
  }

  @media #{$medium-large-only} {
    padding: 2em;    
  }
}
