#press {
  .logo-row {
    justify-content: space-around;

    a {
      img { min-width: 80px; max-width: 180px; }
      &:last-of-type {
        display: none;
      }
    }
  }

  @media #{$medium-up} {
    .logo-row {
      justify-content: space-between;

      a {
        img { min-width: 140px; max-width: 200px; }
        &:last-of-type {
          display: inline;
        }
      }
    }
  }
}
