.homepage-supply-module {
  .grid-container {
    flex-direction: column;

    .grid-item {
      flex-direction: row;

      h4 {
        font-weight: 400;
      }

      &:nth-of-type(2) {
        flex-direction: row-reverse;
        @extend .border-top;
        @extend .border-bottom;
      }

      .product-title-overlay {
        pointer-events: none;
        display: none;
      }

      .button-link {
        display: none;

        > * {
          transition: $transition;
        }
      }
    }
  }

  @media #{$medium-up} {
    .grid-container {
      flex-direction: row;
      .grid-item {
        flex-direction: column;
        &:nth-of-type(2) {
          flex-direction: column;
          border-left: solid 8px color('blue');
          border-right: solid 8px color('blue');
          border-top: none;
          border-bottom: none;
        }

        .image-container {
          .product-title-overlay {
            width: 80%;
            display: block;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-25%);
            transition: $transition;
            cursor: pointer;
            font-size: 1.6em;
            font-weight: 400;
            line-height: 1.5;
          }
        }

        .button-link {
          display: block;
          height: $button-height-desktop;
          flex-shrink: 0;
          flex-wrap: wrap;
          overflow: hidden;

          > * {
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }

          &:hover {
            opacity: 1;
          }
        }

        .button-text {
          display: block;
        }

        .quick-add {
          display: block;
          opacity: 0;
          transform: translateY(50%);
          transition: $transition;
        }

        .product-title {
          opacity: 0;
          display: none;
        }

        &:hover {
          .product-grid-image {
            opacity: 0.4;
          }

          .button-text {
            opacity: 0;
            transform: translateY(-50%);
          }

          .quick-add {
            opacity: 1;
            transform: translateY(0);
          }

          .product-title-overlay {
            opacity: 1;
            transform: translateX(-50%) translateY(-50%);
          }
        }
      }
    }
  }
}
