.homepage-health-module {
  .left-section {
    display: none;
  }

  .right-section {
    text-align: center;
  }

  @media #{$medium-up} {
    .left-section {
      display: flex;
    }

    .right-section {
      text-align: left;
      padding-left: 3rem;
    }
  }
}
