#press {
  .logo-row {
    justify-content: space-around;

    span {
      img { min-width: 120px; }
      &:last-of-type {
        display: none;
      }
    }
  }

  @media #{$medium-up} {
    .logo-row {
      justify-content: space-between;

      span {
        img { min-width: 140px; }
        &:last-of-type {
          display: inline;
        }
      }
    }
  }
}
