.homepage-health-module {
  .left-section {
    display: none;
  }

  .right-section {
    text-align: center;

    ul {
      list-style: none;
      padding-left: 0;
    }
  }

  @media #{$medium-up} {
    .left-section {
      display: flex;
    }

    .right-section {
      text-align: left;
      padding-left: 3rem;

      ul {
        list-style-type: katakana;
        padding-left: $list-padding;
      }
    }
  }
}
