.nav {
  @extend .border-bottom;

  .mobile-nav-toggle {
    display: flex;
  }

  .link-list {
    display: none;
  }

  .item-count {
    @extend .bebas;
    font-size: 48px;
  }

  .item-text {
    letter-spacing: 1px;
  }

  .mobile-menu {
    pointer-events: none;
    opacity: 0;
    transition: $transition;
    position: fixed;
    height: calc(100% - #{$nav-mobile-height});
    background: color('pink');
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;

    &.active {
      pointer-events: auto;
      opacity: 1;
    }
  }

  @media #{$large-up} {
    .mobile-nav-toggle {
      display: none;
    }

    .link-list {
      display: block;
    }

    .mobile-menu {
      display: none;
    }
  }
}
