.product-hero-slides {
  height: 210px;

  @media #{$medium-up} {
    height: 100vh;
  }

  .product-hero-slide {
    height: 100%;
    overflow: hidden;

    img {
      top: 50%;
      width: 100%;
      transform: translate3d(0, -50%, 0);
    }
  }
}
