.product-butter-module {
  border-top-width: 0;

  .content-wrapper {
    display: block;
  }

  .butter-wrapper {
    border-right: 0px;
  }

  .ipad-wrapper {

    @media #{$medium-up} {
      border-bottom: 0;
    }

    h2 {
      font-size: 1.4rem;
    }

    .ipad-butter {
      padding: 20px 120px;

      img {
        width: 100%;
      }
    }
  }
  
  @media #{$medium-up} {
    border-top-width: $border-weight-desktop;

    .content-wrapper {
      display: flex;
    }

    .butter-wrapper {
      border-right: 4px solid color('blue');
    }

    .ipad-wrapper {
      border-top: 0;
      border-left: 4px solid color('blue');
    }
  }
}
