.product-butter-module {
  .content-wrapper {
    display: block;
  }
  .butter-wrapper {
    border-right: 0px;
  }
  .ipad-wrapper {
    border-top: 4px solid color('blue');
    h2 {
      font-size: 1.4rem;
    }
    .ipad-butter {
      padding: 20px 120px;
      img {
        width: 100%;
      }
    }
  }
  @media #{$medium-up} {
    .content-wrapper {
      display: flex;
    }
    .butter-wrapper {
      border-right: 4px solid color('blue');
    }
    .ipad-wrapper {
      border-top: 0;
      border-left: 4px solid color('blue');
    }
  }
}
