<h1 class="hide">Cart</h1>
{% if cart.item_count > 0 %}
  <form id="cart-form" action="/cart" method="post" novalidate>
    
    <div id="cart" class="cart relative clearfix">
      <div class="cart-items col-12 clearfix mx-auto max-width-4">
        {% for item in cart.items %}
          {% include 'cart-line-item' %}
        {% endfor %}
      </div>
      
      {% section 'cart-upsell' %}

      <a href="/checkout" title="Checkout"> 
        <div  class="checkout-button col col-12 border-top center clearfix relative"
              style="background-image: url({{ 'dripping-eye-red-pink.svg' | asset_url }});">
          <div class="gradient-blue">
          </div>
            <div class="col col-12 absolute-center">
              <span class="uppercase blue title bebas">{{ 'cart.general.checkout' | t }} &mdash; </span>
              <span class="cart-price uppercase blue title bebas">{{ cart.total_price | money }}</span>
            </div>
        </div>
      </a>
    </div>

  </form>

{% else %}

  {% section 'cart-empty' %}

{% endif %}
