<div class="contact">
  <div class="clearfix">
    <div class="contact-section col col-12 clearfix">
      <div class="contact-image">
      </div>
      <div class="contact-info">
      </div>
    </div>
  </div>
</div>
